* {
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: #2fc18c;
    text-align: center;
    color: white;
   
}

#minha_foto {
    height: 300px;
    position: absolute;
}

aside {
    position: absolute;
    font-family: monospace;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 330px;
    margin-right: 50px;
    text-align: center;

}

#licoes_aprendidas {
    background-color:  rgb(243, 240, 240);
    margin-top: 310px;
  
}

article {
    margin-top: 10px;
}

#licoes_a_aprender {
    background-color: rgb(243, 240, 240);
    margin-top: 10px;
}

footer {
    margin: 0px;
    padding: 15px;
    color: white;
    background-color: #333;
}
